<style>
    body {
    background-image: url(images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
</style>
<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">



    </div>

 

    </div>

</div><!-- /.row -->
