<!-- search not in navbar collapse -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <a href="/" class="navbar-brand">Social Media</a>
        <form class="mr-2 my-auto w-100 d-inline-block order-1 user-search">
            <div class="input-group">
                <input type="text" class="form-control border border-right-0" placeholder="Search...">
                <span class="input-group-append">
                    <button class="btn btn-outline-light border border-left-0" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <button class="navbar-toggler order-0" type="button" data-toggle="collapse" data-target="#navbar7">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse flex-shrink-1 flex-grow-0 order-last" id="navbar7">
        <ul class="navbar-nav">
           {{#if user}}
           <li class="nav-item">
                <div class="btn-group color-white">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select a Country</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item color-white"><a href="#">Item I</a></li>
                    </ul>
               </div>
            </li>
            <li class="nav-item color-white">
                <a class="nav-link" href="/user/profile">{{user.username}}</a>
            </li>
            <li class="nav-item color-white">
                <a class="nav-link" href="/user/logout">logout</a>
            </li>
           {{else}}
            <li class="nav-item color-white">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
            <li class="nav-item color-white">
                <a class="nav-link" href="/user/register">SignUp</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>
<script>
    $(".dropdown-menu li a").click(function(){
  var selText = $(this).text();
  $(this).parents('.btn-group').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');
});
</script>